.flex-input-list{
    display: flex;
    flex-wrap: wrap;
    .ant-row{
        width: 20%;
    }
}
.tables{
    margin-top: 30px;
}
.scatter-from{
    padding: 10px;
    .search{
        margin: 25px 40px;
    }
}
