.detail-box{
    padding: 5px;
    line-height: 34px;
    
    .createby{
        color: rgb(153, 153, 153);
        font-size: 1.4rem
    }

  
      
    .lg-box{
        height: 98px;
    }
    .borderline{
        border-bottom: 1px solid #ddd !important;  
    }

    .lineHeight20{
         padding: 10px !important;

        .value{
            line-height: 20px;
            font-size: .8rem;
            color: rgb(153, 153, 153);
        }
          
        .keys{
            line-height: 20px;
            font-size: 1.4rem;
            color: rgb(0, 82, 163) ;
            text-decoration: none;
        }
    }
    .font-fangzheng{
        font-family: "Microsoft YaHei";
        font-size: 1.9rem !important;
        color: rgb(0, 82, 163) !important;
        line-height: 0.771;
    }
          
    .fontSize30{
        font-size: 1.8rem;
        font-family: "Microsoft YaHei";
        color: rgb(0, 82, 163) !important;
        font-weight: bold;
    }

    .value{
        min-width: 30%;
        flex-shrink: 0;
        font-size: 14px;
        font-family: "SimSun";
        color: rgb(153, 153, 153);
        line-height: 2.643;
    }

    .keys{
        font-size: 18px;
        color: #444;
        flex-grow: 1;
        text-decoration: underline;
        font-size: 1.4rem;
        line-height: 2.643;
    }
 
    .flex-box-c{
        flex-direction: column;
        flex-grow: 1;

        .flex-box{
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .flex-box-lg{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #ddd;
            
            .flex-box{
                border: none;
            }
        }
        
    }
    .flex-box-foot{
        display: flex;

        .flex-box{
            flex-grow: 1;
            border: none;
        }
    }

}

